body {
	background-color: rgb(205, 221, 225);
}
h1 {
	font-family: cursive;
	font-size: 60px;
	text-align: center;
	color: blue;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}

.active, .accordion:hover {
 	background-color: #ccc;
}
.accordion:hover {
	box-shadow: 0 12px 6px 0 rgba(0,0,0,0.24), 0 17px 10px 0 rgba(0,0,0,0.19);
}

.center{
	margin-top: 10%;
  	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.accordion:after {
  content: '\002B'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\002D"; /* Unicode character for "minus" sign (-) */

}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
